@model DataModul.Products
<div class="navbar navbar-default">
    <div class="row">
        <div class="col-md-7 col-lg-offset-1">
            <h3><small>@Model.Name</small></h3>
        </div>
        <div class="col-md-4">
            <h3 class="pull-right" style="margin-right: 5px;"><small>@Model.Price.ToString("C") / @Model.UnitsProducts.ViewUnits</small></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-lg-offset-1">
            @if (Model.Description != null)
            {
                <p><strong>Описание: </strong>@Model.Description </p>
            }
        </div>
        <div class="col-md-3 col-lg-offset-1">
            <button class="btn btn-default" style="margin-bottom: 5px;" onclick="LoadMerchandise(@Model.Id)">Добавить</button>
            
        </div>
    </div>
</div>